
<h3 class="text-warning">Add Task</h3>
<hr>
<div class="row">
    <div class="col-xl-12">
  <ul class="nav nav-pills ">
      <li class="nav-item">
            <h5><a routerLink="/add-user" class="text-secondary" >Add User</a></h5>
          </li>
          <li class="nav-item" style="padding-left:200px">
              <h5><a routerLink="/add-project" class="text-secondary" >Add Project</a></h5>
            </li>
    <li class="nav-item" style="padding-left:200px">
      <h4><a routerLink="/add-task" routerLinkActive="active" >Add Task</a></h4>
    </li>
    <li class="nav-item" style="padding-left:200px">
      <h5><a routerLink="/view-task" class="text-secondary"  >View Task</a></h5>
    </li>
    </ul>
  </div>
  </div>

  <table class="table table-striped">
    <tbody>
       <tr>
          <td colspan="1">
             <form  #myForm="ngForm"  class="well form-horizontal"  >
                <fieldset>
                     <div class="form-group">
                           <label class="col-md-4 control-label">Project Id:</label>
                           <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group">                         
                        <input id="projectId" [(ngModel)]="projectId"   name="ProjectId"  class="form-control" required="true"  disabled type="number" > <button [disabled]="ischecked" style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openProjectModal(tmpProject)" >search</button> </div>                                     
                        </div>
                       </div>  
                   <div class="form-group">
                      <label class="col-md-4 control-label">Task:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group"><input id="taskDesc"  [(ngModel)]="taskDesc"  name="taskDesc" placeholder="Task Details" class="form-control" required="true" value="" type="text"></div>
                      </div>
                   </div>
                   <div class="form-group" >
                               
                        <div class="col-md-4 inputGroupContainer">
                           <div class="input-group">
                             <input id="parentTaskCheck" name="parentTaskCheck" class="form-control" (change)="changeCheckBox($event)"   type="checkbox">
                             <label class="control-label">Parent Task</label></div>
                        </div>
                        
                     </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Priority</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                            <label for="rangeval">{{ rangeval.value }}</label>
                           <input id="priority" [disabled]="ischecked"  #rangeval [(ngModel)]="priority"   name="priority"  class="form-control-range" required="true" value="" type="range" min="0" max="30" ></div>                    
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Parent Task Id:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group"><input id="parentTask" [disabled]="ischecked" [(ngModel)]="parentId"  #ParentTask name="parentTask" placeholder="Parent Task Id" readonly class="form-control" required="true" value="" type="number">
                           <button [disabled]="ischecked" style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openParenttaskModal(tmpParentTask)" >search</button>   </div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">Start Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group">
                           <input id="startDate" name="startDate" [(ngModel)]="startDate" [disabled]="ischecked" class="form-control" required="true" value="" type="date"></div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-4 control-label">End Date:</label>
                      <div class="col-md-8 inputGroupContainer">
                         <div class="input-group"><input id="endDate" name="endDate" [disabled]="ischecked" [(ngModel)]="EndDate"  class="form-control" required="true" value="" type="date"></div>
                      </div>
                   </div>

                   <div class="form-group">
                        <label class="col-md-4 control-label">UserId:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">                      
                     <input id="userId" [(ngModel)]="userId"   name="userId"  class="form-control" required="true" readonly  disabled type="number" > <button [disabled]="ischecked" style="float:right; padding:3px;" class="btn btn-secondary"  type="button" (click)="openUserModal(tmpUser)" >search</button>    </div>                                     
                     </div>
                    </div>    
                                   
              <div style="padding:20px"> <button class="btn btn-primary" (click)="addNewTask(myForm)" (blur)="loadParentTask()" type="submit">Add Task</button> &nbsp; &nbsp;<button class="btn btn-info" (click)="resetTaskForm(myForm)" type="button">Reset</button> </div>
                </fieldset>
             </form>
          </td>
         
       </tr>
    </tbody>
 </table>

