
<h3 class="text-warning">Add Project</h3>
<hr>
<div class="row">
    <div class="col-xl-12">
  <ul class="nav nav-pills ">
      <li class="nav-item" >
            <h5><a routerLink="/add-user"  class="text-secondary" >Add User</a></h5>
          </li>
          <li class="nav-item" style="padding-left:21px">
              <h4><a routerLink="/add-project" routerLinkActive="active"  >Add Project</a></h4>
            </li>
    <li class="nav-item" style="padding-left:21px">
      <h5><a routerLink="/add-task" class="text-secondary"  >Add Task</a></h5>
    </li>
    <li class="nav-item" style="padding-left:21px">
      <h5><a routerLink="/view-task" class="text-secondary"  >View Task</a></h5>
    </li>
    </ul>
  </div>
  </div>